:root {
    --color-text-primary: #111111;
    --color-text-secondary: #6b6b6b;
    --color-text-tertiary: #aaaaaa;

    --color-background-primary: #ffffff;
    --color-background-secondary: #f5f5f5;
    --color-background-tertiary: #eeeeee;

    --color-border-primary: #000000;
    --color-border-secondary: #cccccc;
    --color-border-tertiary: #e5e5e5;

    --border-radius-md: 8px;
    --border-radius-lg: 12px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}